resources
objs
.vscode
cpr
downloads
test.cpp
a.out
test.txt
logs

terminal_objs

Qt/*
!Qt/resources
!Qt/main_Qt.cpp
!Qt/Window.hpp
!Qt/Window.cpp
!Qt/resources.qrc

libtorrent_core.a
torrent_client
Torrent\ Client\ Qt

build